.notion {
  font-size: 18px;
}

@media only screen and (max-width: 730px) {
  .notion-page {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.notion-page-icon-wrapper {
  left: inherit;
  display: block;
  width: auto;
}

.notion-page-icon-wrapper {
  width: auto;
}

.notion-collection-card-property:first-child {
  font-size: 18px;
}

.notion-full-page {
  padding-bottom: calc(max(5vh, 50px));
}

.notion .notion-code {
  font-size: 75%;
}

code[class*='language-'],
pre[class*='language-'] {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 4px 0;
  border-radius: 3px;
  tab-size: 2;
  display: block;
  box-sizing: border-box;
  overflow: auto;
  background: var(--bg-color-1);
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}
