.notion {
  font-size: 18px;
  font-family: NanumSquareRound, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@media only screen and (max-width: 730px) {
  .notion-page {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.notion-page-icon-wrapper {
  left: inherit;
  display: block;
  width: auto;
}

.notion-page-icon-wrapper {
  width: auto;
}

.notion-collection-card-property:first-child {
  font-size: 18px;
}

.notion-full-page {
  padding-bottom: calc(max(5vh, 50px));
}

.notion-list-item-title {
  max-width: 520px;
}

@media only screen and (max-width: 730px) {
  .notion-page-link {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .notion-list-item {
    align-items: inherit;
  }

  .notion-list-item-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .notion-list-item-property {
    margin-left: 5px;
    align-self: flex-end;
  }

  .notion-property {
    margin-top: 5px;
  }

  .notion-property-multi_select-item {
    margin-top: 5px;
  }
}

.notion .notion-code {
  font-size: 75%;
}

code[class*='language-'],
pre[class*='language-'] {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 4px 0;
  border-radius: 3px;
  tab-size: 2;
  display: block;
  box-sizing: border-box;
  overflow: auto;
  background: var(--bg-color-1);
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

.notion-collection {
  width: 100%;
}

.notion-quote {
  font-size: 1.1em;
}
